#nome{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    }
#descrição{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 20%;
    right: 50%;
    }
body{
    background-color: #FFD131;
    padding: 3%;
    }
.destaques{
    font-style: unset;
    }
.organizacao{
    font-size: 3em;
    }
.colaboracao{
    font-size: 2.5em;
    }
.raciocinio{
    font-size: 2em;
    }
.empatia{
    font-size: 1.5em;
    }
#minhafoto{
    float: left;
    height: 75px;
    padding: 10px;
    background-color: blueviolet;
    }
.image-container{
    height: 95px;
    position: relative;
}
li:nth-child(odd){
    background-color:aqua;
}
